* {

    letter-spacing: normal;
}

body{
    background-image: url(Background.png);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: 0.7;
    justify-content: center;
}

#container {
    width:100%;
    text-align:center;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
}

.container {
    text-align: center;

}

#left {
    display: inline-block;
    justify-content: center;
}

#center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#right {
    display: inline-block;
    justify-content: center;
}

.judul {
    text-align: center;
    color: white;
    margin-bottom: 100px;
    font-size: 48px;
}

.row {
    display: grid;
    width: 100%;
    background-color: transparent;
    justify-content: center;

}

.navbar {
    width: 100%;
    background-color: transparent; 
    text-align: right;
    margin-right: 30px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.navbar img {
    position: absolute;
    right: 0;
    top: 0;
}

.user-Qin {
    color: white;
    justify-content: center;
    margin-left: 75px;
    margin-right: 75px;
}

.chart-Qin {
    color: white;
    justify-content: center;
    margin-left: 75px;
    margin-right: 75px;
}

.code-Qin {
    color: white;
    justify-content: center;
    margin-left: 75px;
    margin-right: 75px;
}
